.popUpPanel{
    background: #276E6B40;
    backdrop-filter: blur(2px);
    z-index: 10;
    top: 0;
    left: 0;
}
.popUpPanel > section {
    z-index: 10;
}
.popUpPanel > section > section{
    top:  0;
    left: 0;
    width: 50% !important;
    background-color: #e1ffff;
    transform: translateX(50%);
}
.popUpPanel > section > section > *{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
}
.popUpPanel > section > section > :nth-child(1) > section{
    width: 100px;
    height: 100px;
}
.popUpPanel > section > section > :nth-child(2) > h3{
    color: #276E6B;
}
.popUpPanel > section > section > :nth-child(3) > a{
    font-weight: 700;
}

@media (max-width: 767px) {
    .popUpPanel > section > section > :nth-child(3) > a{
        font-size: 10px !important;
    }
}