.card > *{
    font-family: 'Open Sans', sans-serif !important;
    font-style: normal;
    font-weight: 700;
}
.card{
    background-color: #F5FFFF !important;
    width: 350px !important;
    margin-left: 3% !important;
    box-shadow: 0 0 15px 0px grey;
}
.ds{
    font-weight: 600 !important ;
    
}
#cardTransition{
    outline: #FCDB66 !important;
    font-size: 1.3rem !important;
    background-color: #FCDB66 !important;
}