#passConfirmModal {
    background: #276E6B40;
    backdrop-filter: blur(2px);
}

#passConfirmModal>div>div>div>form {
    width: 100% !important;
    background-color: #0257BF;
    padding-top: 35px;
    padding-left: 3%;
}

#passConfirmModal>div>div>div>form>* {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

#passConfirmModal>div>div>div>form>input {
    width: 95%;
    font-size: 15px;
    outline: none;
}

#passConfirmModal>div>div>div>form> :nth-child(3) {
    outline: none;
    font-size: 18px;
    color: #192828;
    background-color: #FCDB66 !important;
}